<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mkatr.siparisapp7">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KayitAct"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KategorilerAct" android:screenOrientation="portrait"/>
        <activity android:name=".GirisAct" android:screenOrientation="portrait"/>
        <activity android:name=".KategorilerAlt" android:screenOrientation="portrait" />
        <activity android:name=".UrunlerAct" android:screenOrientation="portrait"/>
        <activity android:name=".DetaylarAct" android:screenOrientation="portrait" />
        <activity android:name=".SiparislerAct" android:screenOrientation="portrait"></activity>
    </application>

</manifest>